/venv
Some_Maths_Implementation/Project1VectorsMatrixandTensors/.ipynb_checkpoints
Some_Maths_Implementation/Project1VectorsMatrixandTensors/Project1.html
Some_Maths_Implementation/Project2NormsAndEigendecomposition/.ipynb_checkpoints
Some_Maths_Implementation/Project2NormsAndEigendecomposition/Project2.html
Some_Maths_Implementation/Project3GradientVisualization/.ipynb_checkpoints
Some_Maths_Implementation/Project3GradientVisualization/Project3.html
.vscode
